<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>予約キャンセル</title>
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/reservation.css}" rel="stylesheet" />
    <link th:href="@{/css/components/header.css}" rel="stylesheet" />
    <link th:href="@{/css/components/button.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="c-header">
      <nav class="c-header-nav">
        <div>
          <a class="el-top-link" href="/">HRS</a>
        </div>
        <ul class="w-header-nav-ul">
          <li>
            <a href="/reservation">予約</a>
          </li>
          <li>
            <a href="/cancel">予約キャンセル</a>
          </li>
          <li><a href="/checkin">チェックイン</a></li>
          <li><a href="/checkout">チェックアウト</a></li>
        </ul>
      </nav>
    </div>
    <div class="c-body">
      <div class="c-reservation">
        <h1 class="el-h1">予約キャンセル</h1>
        <p>キャンセルする予約番号を入力してください</p>
        <form class="c-res-date-form">
          <div class="w-res-date-input">
            <div>
              <label htmlFor="cancel-res-no">予約番号</label>
              <input class="my-input" type="text" id="cancel-res-no" />
            </div>
          </div>
          <button class="el-button" type="submit">予約キャンセル</button>
        </form>
      </div>
      <div class="c-right"></div>
    </div>
  </body>
</html>
