<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>予約画面</title>
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/reservation.css}" rel="stylesheet" />
    <link th:href="@{/css/components/header.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="c-header">
      <nav class="c-header-nav">
        <div>
          <a class="el-top-link" href="/">HRS</a>
        </div>
        <ul class="w-header-nav-ul">
          <li>
            <a href="/reservation">予約</a>
          </li>
          <li>
            <a href="/cancel">予約キャンセル</a>
          </li>
          <li><a href="/checkin">チェックイン</a></li>
          <li><a href="/checkout">チェックアウト</a></li>
        </ul>
      </nav>
    </div>
    <div class="c-body">
      <div class="c-reservation">
        <h1 class="el-h1">予約</h1>
        <p>予約したい日を入力してください</p>
        <form class="c-res-date-form">
          <div class="w-res-date-input">
            <div>
              <input class="my-input" type="text" id="year" />
              <label htmlFor="year">年</label>
            </div>
            <div class="i-res-m-d-input">
              <div>
                <input class="my-input" type="text" id="month" />
                <label htmlFor="month">月</label>
              </div>
              <div>
                <input class="my-input" type="text" id="date" />
                <label htmlFor="date">日</label>
              </div>
            </div>
          </div>
          <button class="el-button" type="submit">予約</button>
        </form>
      </div>
      <div class="c-right"></div>
    </div>
  </body>
</html>
