<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>予約画面</title>
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/reservation.css}" rel="stylesheet" />
    <link th:href="@{/css/components/button.css}" rel="stylesheet" />
    <link th:href="@{/css/components/header.css}" rel="stylesheet" />
    <!-- <script
      type="text/javascript"
      th:src="@{/js/reservationHandler.js}"
    ></script> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div class="c-header">
      <nav class="c-header-nav">
        <div>
          <a class="el-top-link" href="/">HRS</a>
        </div>
        <ul class="w-header-nav-ul">
          <li>
            <a href="/reservation">予約</a>
          </li>
          <li>
            <a href="/cancel">予約キャンセル</a>
          </li>
          <li><a href="/checkin">チェックイン</a></li>
          <li><a href="/checkout">チェックアウト</a></li>
        </ul>
      </nav>
    </div>
    <div class="c-body">
      <div class="c-reservation">
        <h1 class="el-h1">予約</h1>
        <p>予約したい日を入力してください</p>
        <form
          th:action="@{/api/reservation}"
          th:object="${reservation}"
          method="post"
        >
          <div class="w-res-date-input">
            <div>
              <input
                class="my-input"
                type="text"
                id="year"
                th:field="*{stayingDate}"
              />
              <label for="year">年</label>
            </div>
            <div class="i-res-m-d-input">
              <div>
                <input
                  class="my-input"
                  type="text"
                  id="month"
                  th:field="*{stayingDate}"
                />
                <label for="month">月</label>
              </div>
              <div>
                <input
                  class="my-input"
                  type="text"
                  id="day"
                  th:field="*{stayingDate}"
                />
                <label for="day">日</label>
              </div>
            </div>
          </div>
          <input class="el-button" type="submit" name="submit" value="予約" />
        </form>
      </div>
      <div class="c-right"></div>
    </div>
  </body>
</html>
